<main class="results">
  <h1 class="results__summary">
    32 Results found
  </h1>

  <div class="property">
    <img
      class="property__img"
      src="http://via.placeholder.com/340x190/e3e3e3/e3e3e3"
      alt="">
    <h2 class="property__title">
      2 bed flat for sale
    </h2>
    <p class="property__price">
      £1,280,000
    </p>
    <p class="property__description">
      Duis deserunt Lorem ut do enim aliqua ad anim incididunt dolore excepteur anim et laboris. Ad cillum voluptate nisi dolore anim dolor incididunt voluptate officia in incididunt ut cupidatat quis. Duis esse mollit esse eiusmod est. Sint cupidatat cupidatat nostrud consequat velit in amet amet. Excepteur eu ea sit tempor sit incididunt nostrud nisi incididunt adipisicing.
    </p>
    <footer class="property__footer">
      <img
        class="property__agent-logo"
        src="http://via.placeholder.com/90x50/333/333"
        alt="">
      <p class="property__agent-detail">Veniam et id ad</p>
      <p class="property__agent-detail">Voluptate sint magna ad sit aliquip velit</p>
      <p class="property__agent-detail">T: 080 0000 000</p>
    </footer>
  </div>
</main>
